<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>
<body style="font-family:sans-serif;font-size:24px;">
<div id="app">
    <input type="text" v-model="prenom">
    <select name="langue" id="langue" v-model="langue">
        <option value="en">English</option>
        <option value="fr">Français</option>
        <option value="es">Español</option>
    </select>
    <br>
    <button v-on:click="augmenteM()" id="Mbappe">Mbappe</button>
    <button v-on:click="augmenteF()" id="Fekir">Fekir</button>
    <button v-on:click="augmenteT()" id="Thauvin">Thauvin</button>
    <h1>
        <span v-if="langue=='en'">{{ theMessageEn }}</span>
        <span v-elsif="langue=='es'">{{ theMessageEs }}</span>
        <span v-else>{{ theMessageFr }}</span>
        {{ prenom }}</h1>
    <p>Nb Votes Mbappe: <span v-if="nbTotalVotes>0">{{ nbVotesMbappe }} {{ pourcentM }}</span> -
        Nb Votes Fekir: <span v-if="nbTotalVotes>0">{{ nbVotesFekir }  {{ pourcentF }}</span> -
        Nb Votes Thauvin: <span v-if="nbTotalVotes>0">{{ nbVotesThuvin }} {{ pourcentT }}</span></p>
    <p>Nombre total de votes : {{ nbTotalVotes }}</p>

</div>
<script>
    var vue1 = new Vue({
        el: "#app",
        data: {
            langue: "en",
            theMessageEn: "Welcome ",
            theMessageFr: "Bienvenue ",
            theMessageEs: "Hola ",
            prenom: "Vincent",
            nbVotesMbappe: 0,
            nbVotesFekir: 0,
            nbVotesThauvin: 0,
            nbTotalVotes: 0
        },
        methods: {
             augmenteM: function (){
                this.nbVotesMbappe=this.nbVotesMbappe+1
            },
            augmenteF: function (){
                this.nbVotesFekir=this.nbVotesFekir+1
            },
            augmenteT: function (){
                this.nbVotesThauvin=this.nbVotesThauvin+1
            }
        },
        computed: {
            pourcentM: function (){
                return (100*(this.nbVotesMbappe/this.nbTotalVotes)).toFixed(2)
            },
            pourcentF: function (){
                return (100*(this.nbVotesFekir/this.nbTotalVotes)).toFixed(2)
            },
            pourcentT: function (){
                return (100*(this.nbVotesThauvin/this.nbTotalVotes)).toFixed(2)
            },
            nbTotalVotes: function (){
                return this.nbVotesMbappe + this.nbVotesFekir + this.nbVotesThauvin
            }
        }
    });
</script>
</body>
</html>